.section-title{
    color: $main-color;
    border-bottom: 2px solid rgba(0, 0, 0, 0.02);
    font-size: 24px;
    font-weight: bold;
    @include flex(row,start,center);
    padding-bottom: 10px;
    min-width: 25%;
    margin-bottom: 20px;
    .section-icon{
        width: 35px;
        height: 35px;
        border-radius: 10px;
        @include flex(row,center,center);
        background-color: $main-color;
        color: white;
        margin-inline-end: 10px;
        flex-shrink: 0;
        svg{width: 20px;}
    }
}

.integration{
    margin: 20px 20px 20px 0;

    .token{
        margin-top: 20px;
        border: 2px solid $main-color;
        padding: 20px;
        width: 50%;
        word-break: break-all;
        @include bord-radius(10px);
        color: $dark-text;
    }
}


// Responsive ----------------------------------------------------

@media (max-width:576px) {
    .token{
        width: 100%!important;
    }
}