.content-body {
  height: 90vh;
  .sidebar {
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
    border-radius: 20px;
    padding: 0 15px;
    margin-top: auto;
    max-width: 240px;
    margin-left: 5px;
    // height:100%;
    a,
    .nav-link {
      color: $text-color;
      font-size: 15px;
      font-weight: 600;
      transition: 0.3s;
      //   text-transform: uppercase;
      span {
        display: inline;
        transition: 0.3s;
        @media (min-width: 576px) {
          display: inline;
        }
      }
      @media (max-width: 576px) {
        &:hover {
          position: relative;

          span {
            position: absolute;
            display: inline !important;
            background-color: rgb(248, 248, 248);
            padding: 5px 10px;
            border-radius: 4px;
            box-shadow: 0px 1px 5px 0px rgba(173,173,173,0.75);
          }
        }
      }
    }
    li {
      ul {
        span {
          font-size: 13px;
        }
        padding-left: 10px !important;
      }
    }
  }
}
