@mixin flex($dir, $content, $items) {
  display: flex;
  justify-content: $content;
  align-items: $items;
  flex-direction: $dir;
}

@mixin bord_radius($property) {
  -webkit-border-radius: $property;
  -moz-border-radius: $property;
  -o-border-radius: $property;
  border-radius: $property;
}

@mixin text-max-size($w,$h){
  max-width: $w;
  max-height: $h;
  overflow-x: hidden;
}

@mixin text-max-height($height){
  max-height: $height;
  overflow: hidden;
}

@mixin text-max-width($width){
  max-width: $width;
  overflow: hidden;
}
@mixin img-box-square($px){
  width:$px ;
  height: $px;
  overflow: hidden;
}

@mixin svg-feather-icon($s,$w,$h){
  stroke: $s;
  width: $w;
  height: $h;
}