body{
    font-family: 'DM Sans',sans-serif;
    overflow-x: hidden;
    &.overlay{
        &::before{
            content: "";
            display: block;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.3);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
}
button,
button:focus,
button:focus-visible,
input:focus-visible,
.form-control:focus,
select:focus-visible,
.form-select:focus
{
    outline: 0!important;
    box-shadow: none!important;
}

body ::-webkit-scrollbar {
    width: 4px;
}
 
body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid $text-color;
}